# Create a Slack app at https://api.slack.com/apps and add the following redirect URL: https://yourdomain.com/api/auth/callback/slack
# After creating the app, go to "OAuth & Permissions" and add the following scopes: users:read, users:read.email, team:read, identity.basic, identity.email, identity.team, copy and paste here the ID and Secret

SLACK_CLIENT_ID=""
SLACK_CLIENT_SECRET=""

# For NextAuth, you can generate a random secret:
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="veryverysecretpassword"
NEXT_PUBLIC_CRON_SECRET="your_cron_secret" # To secure the cronjob, not well implemented tho :heavysob:

COCKPIT_URL="https://cockpit.hackclub.com"
COCKPIT_TOKEN="" # Copy the token (excluding the "Bearer " part) from the Authorization header of any authorized request made to the cockpit website (by inspecting)

NEXT_PUBLIC_EVENT_ID="" # Put ur event id here. Find it in your signup url: https://forms.hackclub.com/campfire-signup/?event=rec5bXfCOC93cGPBe <- this last part starting from rec

# Create an Upstash Redis database. This is to cache the Cockpit state and to hopefully not overload anything :prayge:
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# Only The Adwin can see the signups table. This is meant to be PoC
ADWIN="USLACKBOT,UZACHLATTA"