@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;

    --primary: #53bfff;
    --secondary: #ffa23c;
    --secondary-bright: #feb76c;

    --hc-star: #384fbc;
    --hc-emerald: #52cb77;
    --hc-brown: #2a1913;
    --hc-ice: #9be8fe;
    --hc-tortoise: #57ecd6;
    --hc-border: #dca87e;
    --hc-paper: #ead6be;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-serif, Arial, Helvetica, sans-serif);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) transparent;
  }

  .solid-shadow {
    text-shadow: var(--tw-text-shadow-color, rgb(0 0 0 / 0.15)) 2px 5px 0px;
  }

  .image-solid-shadow {
    filter: drop-shadow(1px 3px 0 var(--tw-shadow-color, rgba(0, 0, 0, 0.1)));
  }

  .hc-button {
    background-color: var(--secondary);
    border: #0003 0.3rem solid;
    font-family: var(--font-primary);
    transition: all 0.3s ease-in-out;
    box-shadow: #000f 0px 0px 0px;
  }

  .hc-button:hover {
    transform: translateY(-3px);
    box-shadow: #0004 0px 6px 8px;
  }

  .hc-button:focus,
  .hc-button:active {
    transform: translateY(5px);
    filter: brightness(1.05);
    box-shadow: #0004 0px 0px 0px;
  }

  a {
    font-weight: bold;
    opacity: 100%;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    user-select: none;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-bright: var(--secondary-bright);

  --color-hc-star: var(--hc-star);
  --color-hc-emerald: var(--hc-emerald);
  --color-hc-brown: var(--hc-brown);
  --color-hc-ice: var(--hc-ice);
  --color-hc-tortoise: var(--hc-tortoise);
  --color-hc-border: var(--hc-border);
  --color-hc-paper: var(--hc-paper);

  --font-primary: var(--font-primary);
  --font-subheading: var(--font-subheading);
  --font-serif: var(--font-source-serif);
}